Source: youtubedl-gui
Section: utils
Priority: optional
Maintainer: Jason Goulet-Lipman <jason.gouletlipman@gmail.com>
Build-Depends: build-essential, dh-make, cmake, qtbase5-dev
Homepage: https://github.com/JaGoLi/ytdl-gui

Package: youtubedl-gui
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pip, ffmpeg, hicolor-icon-theme
Conflicts: youtube-dl, youtubedl-gui
Recommends: ubuntu-restricted-addons
Description: Download Youtube videos to local audio or video files.
