Source: youtubedl-gui
Section: utils
Priority: optional
Maintainer: Jason Goulet-Lipman <jason.gouletlipman@gmail.com>
Build-Depends: build-essential, qt5-default, qtdeclarative5-dev
Standards-Version: 4.4.1
Homepage: https://github.com/JaGoLi/ytdl-gui

Package: youtubedl-gui
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, qt5-default, qtdeclarative5-dev, youtube-dl, ffmpeg, hicolor-icon-theme, gtk-update-icon-cache
Description: Download Youtube videos to local audio or video files.
